<h1>До свидания!</h1>
<p>
Очень приятно, что вы нас навестили.
</p>
<p>
Сказать <a href="/say/hello">привет</a>!
</p>
<p>

Сказать <%= link_to "привет", say_hello_path %> еще раз.
 </p>

<%= 1+2 %>
<%= "cow" + "boy" %>
<%= 1.hour.from_now %>